@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.two-content-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 60vh;
    padding: 1.5%;
}

@media screen and (max-width: 600px){
    .two-content-div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.content-div-img{
    display: flex;
    align-items: center;
    width: 30vw;
}

.single-content-div{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 60vh;
    /* padding: 1.5%; */
}

.single-content-div.center{
    justify-content: center;
}

.single-content-div.title{
    min-height: fit-content;
}

.colomn-content-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 60vh;
    padding: 1.5%;
}

.home-first-content{
    line-height: 79px;
    display: flex;
    align-items: center;
    padding: 0 10%;
    width: auto;
    height: 80vh;
    background: url(../Assets/HomeFirstContentDivBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.home-first-content .title{
    font-size: 150px;
}

@media screen and (max-width: 600px){
    .home-first-content .title{
        font-size: 90px;
    }
    .home-first-content span{
        font-size: 40px;
    }
}

.home-first-content span{
    font-size: 60px;
    font-weight: 300;
    background-color: rgba(255,255,255,0.7);
}

.home-first-content button{
    font-size: 30px;
    width: 200px;
    height: 70px;
    font-weight: 200;
}

.home-first-content button:hover{
    font-size: 30px;
    width: 200px;
    height: 70px;
    font-weight: bold;
}

span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

span.title{
    font-weight: 400;
    font-size: 60px;
}

span.subtitle{
    font-weight: 300;
    font-size: 30px;
}

.two-content-div-form{
    border:1px solid black;
    padding: 2% 2%;
    width: 50%;
}

.single-content-div-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    padding: 2% 2%;
    width: 80%;
}

form{
    line-height: 50px;
}

.button{
    background-color: #F06A66;
    color: #000000;
    border: 0px;
    height: 30px;
    min-width: 90px;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    font-weight: bold;
    background-color: #F06A66;
    color: #000000;
    border: 0px;
    height: 30px;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
}

.single-content-div-form form input , .single-content-div-form form select ,
.two-content-div-form form input ,.two-content-div-form form select{
    width: 100%;
}

form input , form select{
    height: 30px;
}

form input[type="submit"]{
    width: fit-content;
}

.drop-down-list{
    height: 30px;
    width: 100%;
}

.form-display-table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5%;
}

.form-display-table table th{
    border:1px solid black;
    height: 30px;
    width: 150px;
    text-align: center;
    font-size: 20px;
}

.form-display-table table td{
    padding: 1% 1%;
    height: 20px;
    width: 250px;
    text-align: center;
    font-size: 16px;
}

.glass{
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(5px); */
    border: 1px solid rgba(255, 255, 255, 0.07);
    /* padding: 2%; */
}

.report-table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5%;
}

.report-table td{
    /* border:1px solid black; */
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.report-table table{
    line-height: 40px;
    width: 100%;
}