#tablej {
    border-collapse: collapse;
    width: 100%;
}

#tablej td, #tablej th {
    border: 1px solid #ddd;
    padding: 4px;
}

#tablej tr:nth-child(even){background-color: #f2f2f2;}

#tablej tr:hover {background-color: #ddd;}

#tablej th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: #EE534F;
}